
COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
cscpp-config.h*
depcomp
install-sh
missing

.deps/
Makefile
Makefile.in
config.log
config.status
obsrv
*.o
stamp-h1

