
node_modules/

COPYING
INSTALL
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
configure
cscpp-config.h*
depcomp
install-sh
missing

.deps/
Makefile
Makefile.in
config.log
config.status

libobcommon.a
obsrv
obdb

stamp-h1
test-driver
*.o
*.log
*.trs

obsrv.rocks/
config-obsrv.json
load-accounts.json

